eclipse/labels/src/data/tileset.dtd

<!ELEMENT tileset (tile*)>
<!ELEMENT tile (name, connections)>
<!ATTLIST tile topcodeID CDATA #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT connections EMPTY>
<!ATTLIST connections L (0|1|2|3|4|5|6) "0">
<!ATTLIST connections R (0|1|2|3|4|5|6) "0">
<!ATTLIST connections T (0|1|2|3|4|5|6) "0">
<!ATTLIST connections B (0|1|2|3|4|5|6) "0">